<!-- <div class="container-tim" style="background-color: white; height: 100vh; width: 100vw; display: flex; justify-content: center; align-items: center ">
  <img src="<%#= asset_path 'lights.png' %>" style="height: 55%">
</div> -->

<div class="container-demonge" style="position: relative; height: 100vh; width: 100vw;">
  <div id="demonge-activation" data-demonge = "<%= asset_path 'lights.png' %>"></div>
  <img src="<%= asset_path 'lights.png' %>" style="position: absolute; top: 25%; left: 23%; height: 55%">
</div>

